<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>不丹</key>
	<string>975</string>
	<key>东萨摩亚</key>
	<string>684</string>
	<key>中国</key>
	<string>86</string>
	<key>中途岛</key>
	<string>1808</string>
	<key>中非</key>
	<string>236</string>
	<key>丹麦</key>
	<string>45</string>
	<key>乌干达</key>
	<string>256</string>
	<key>乌拉圭</key>
	<string>598</string>
	<key>乍得</key>
	<string>235</string>
	<key>以色列</key>
	<string>972</string>
	<key>伊拉克</key>
	<string>964</string>
	<key>伊朗</key>
	<string>98</string>
	<key>伯利兹</key>
	<string>501</string>
	<key>佛得角</key>
	<string>238</string>
	<key>俄罗斯</key>
	<string>7</string>
	<key>保加利亚</key>
	<string>359</string>
	<key>关岛</key>
	<string>671</string>
	<key>冈比亚</key>
	<string>220</string>
	<key>冰岛</key>
	<string>354</string>
	<key>几内亚</key>
	<string>224</string>
	<key>几内亚比绍</key>
	<string>245</string>
	<key>列支敦士登</key>
	<string>4175</string>
	<key>刚果</key>
	<string>242</string>
	<key>利比亚</key>
	<string>218</string>
	<key>利比里亚</key>
	<string>231</string>
	<key>加拿大</key>
	<string>1</string>
	<key>加纳</key>
	<string>233</string>
	<key>加蓬</key>
	<string>241</string>
	<key>匈牙利</key>
	<string>336</string>
	<key>南斯拉夫</key>
	<string>338</string>
	<key>南非</key>
	<string>27</string>
	<key>博茨瓦纳</key>
	<string>267</string>
	<key>卡塔尔</key>
	<string>974</string>
	<key>卢旺达</key>
	<string>250</string>
	<key>卢森堡</key>
	<string>352</string>
	<key>印度</key>
	<string>91</string>
	<key>印度尼西亚</key>
	<string>62</string>
	<key>危地马拉</key>
	<string>502</string>
	<key>厄瓜多尔</key>
	<string>593</string>
	<key>叙利亚</key>
	<string>963</string>
	<key>古巴</key>
	<string>53</string>
	<key>台湾</key>
	<string>886</string>
	<key>吉布提</key>
	<string>253</string>
	<key>哥伦比亚</key>
	<string>57</string>
	<key>哥斯达黎加</key>
	<string>506</string>
	<key>喀麦隆</key>
	<string>237</string>
	<key>图瓦卢</key>
	<string>688</string>
	<key>土耳其</key>
	<string>90</string>
	<key>圣卢西亚</key>
	<string>1809</string>
	<key>圣多美</key>
	<string>239</string>
	<key>圣诞岛</key>
	<string>6724</string>
	<key>圣赫勒拿</key>
	<string>290</string>
	<key>圣马力诺</key>
	<string>223</string>
	<key>圭亚那</key>
	<string>592</string>
	<key>坦桑尼亚</key>
	<string>255</string>
	<key>埃及</key>
	<string>20</string>
	<key>埃塞俄比亚</key>
	<string>251</string>
	<key>基里巴斯</key>
	<string>686</string>
	<key>塞内加尔</key>
	<string>221</string>
	<key>塞拉利昂</key>
	<string>232</string>
	<key>塞浦路斯</key>
	<string>357</string>
	<key>塞舌尔</key>
	<string>248</string>
	<key>墨西哥</key>
	<string>52</string>
	<key>夏威夷</key>
	<string>1808</string>
	<key>多哥</key>
	<string>228</string>
	<key>奥地利</key>
	<string>43</string>
	<key>委内瑞拉</key>
	<string>58</string>
	<key>威克岛</key>
	<string>1808</string>
	<key>孟加拉国</key>
	<string>880</string>
	<key>安哥拉</key>
	<string>244</string>
	<key>安圭拉岛</key>
	<string>1809</string>
	<key>尼加拉瓜</key>
	<string>505</string>
	<key>尼日利亚</key>
	<string>234</string>
	<key>尼日尔</key>
	<string>227</string>
	<key>尼泊尔</key>
	<string>977</string>
	<key>巴哈马</key>
	<string>1809</string>
	<key>巴基斯坦</key>
	<string>92</string>
	<key>巴巴多斯</key>
	<string>1809</string>
	<key>巴拉圭</key>
	<string>595</string>
	<key>巴拿马</key>
	<string>507</string>
	<key>巴林</key>
	<string>973</string>
	<key>巴西</key>
	<string>55</string>
	<key>布基拉法索</key>
	<string>226</string>
	<key>布隆迪</key>
	<string>257</string>
	<key>希腊</key>
	<string>30</string>
	<key>德国</key>
	<string>349</string>
	<key>意大利</key>
	<string>39</string>
	<key>所罗门群岛</key>
	<string>677</string>
	<key>扎伊尔</key>
	<string>243</string>
	<key>挪威</key>
	<string>47</string>
	<key>摩洛哥</key>
	<string>210</string>
	<key>文莱</key>
	<string>673</string>
	<key>斐济</key>
	<string>679</string>
	<key>斯威士兰</key>
	<string>268</string>
	<key>斯里兰卡</key>
	<string>94</string>
	<key>新加坡</key>
	<string>65</string>
	<key>新西兰</key>
	<string>64</string>
	<key>日本</key>
	<string>81</string>
	<key>普林西比</key>
	<string>239</string>
	<key>智利</key>
	<string>56</string>
	<key>朝鲜</key>
	<string>850</string>
	<key>柬埔寨</key>
	<string>855</string>
	<key>格陵兰岛</key>
	<string>299</string>
	<key>梵蒂冈</key>
	<string>396</string>
	<key>比利时</key>
	<string>32</string>
	<key>毛里塔尼亚</key>
	<string>222</string>
	<key>毛里求斯</key>
	<string>230</string>
	<key>汤加</key>
	<string>676</string>
	<key>沙特阿拉伯</key>
	<string>966</string>
	<key>法国</key>
	<string>33</string>
	<key>法属圭亚那</key>
	<string>594</string>
	<key>法罗群岛</key>
	<string>298</string>
	<key>波兰</key>
	<string>48</string>
	<key>波多黎各</key>
	<string>1809</string>
	<key>泰国</key>
	<string>66</string>
	<key>津巴布韦</key>
	<string>263</string>
	<key>洪都拉斯</key>
	<string>504</string>
	<key>海地</key>
	<string>509</string>
	<key>澳大利亚</key>
	<string>61</string>
	<key>澳门</key>
	<string>853</string>
	<key>爱尔兰</key>
	<string>353</string>
	<key>牙买加</key>
	<string>1809</string>
	<key>玻利维亚</key>
	<string>591</string>
	<key>瑙鲁</key>
	<string>674</string>
	<key>瑞典</key>
	<string>46</string>
	<key>瑞士</key>
	<string>41</string>
	<key>瓦努阿图</key>
	<string>678</string>
	<key>留尼旺岛</key>
	<string>262</string>
	<key>直布罗陀</key>
	<string>350</string>
	<key>福克兰群岛</key>
	<string>500</string>
	<key>科克群岛</key>
	<string>682</string>
	<key>科威特</key>
	<string>965</string>
	<key>科摩罗</key>
	<string>269</string>
	<key>科特迪瓦</key>
	<string>225</string>
	<key>科科斯岛</key>
	<string>6722</string>
	<key>秘鲁</key>
	<string>51</string>
	<key>突尼斯</key>
	<string>216</string>
	<key>索马里</key>
	<string>252</string>
	<key>约旦</key>
	<string>962</string>
	<key>纳米比亚</key>
	<string>264</string>
	<key>纽埃岛</key>
	<string>683</string>
	<key>维尔京群岛</key>
	<string>1809</string>
	<key>缅甸</key>
	<string>95</string>
	<key>罗马尼亚</key>
	<string>40</string>
	<key>美国</key>
	<string>1</string>
	<key>老挝</key>
	<string>856</string>
	<key>肯尼亚</key>
	<string>254</string>
	<key>芬兰</key>
	<string>358</string>
	<key>苏丹</key>
	<string>249</string>
	<key>苏里南</key>
	<string>597</string>
	<key>英国</key>
	<string>44</string>
	<key>荷兰</key>
	<string>31</string>
	<key>莫桑比克</key>
	<string>258</string>
	<key>莱索托</key>
	<string>266</string>
	<key>菲律宾</key>
	<string>63</string>
	<key>萨尔瓦多</key>
	<string>503</string>
	<key>葡萄牙</key>
	<string>351</string>
	<key>蒙古</key>
	<string>976</string>
	<key>西班牙</key>
	<string>34</string>
	<key>西萨摩亚</key>
	<string>685</string>
	<key>诺福克岛</key>
	<string>6723</string>
	<key>贝宁</key>
	<string>229</string>
	<key>赞比亚</key>
	<string>260</string>
	<key>赤道几内亚</key>
	<string>240</string>
	<key>越南</key>
	<string>84</string>
	<key>阿富汗</key>
	<string>93</string>
	<key>阿尔及利亚</key>
	<string>213</string>
	<key>阿尔巴尼亚</key>
	<string>355</string>
	<key>阿拉斯加</key>
	<string>1907</string>
	<key>阿曼</key>
	<string>968</string>
	<key>阿根廷</key>
	<string>54</string>
	<key>阿森松</key>
	<string>247</string>
	<key>阿鲁巴岛</key>
	<string>297</string>
	<key>韩国</key>
	<string>82</string>
	<key>香港</key>
	<string>852</string>
	<key>马尔代夫</key>
	<string>960</string>
	<key>马拉维</key>
	<string>265</string>
	<key>马提尼克</key>
	<string>596</string>
	<key>马耳他</key>
	<string>356</string>
	<key>马达加斯加</key>
	<string>261</string>
	<key>马里</key>
	<string>223</string>
	<key>黎巴嫩</key>
	<string>961</string>
	<key>﻿马来西亚</key>
	<string>60</string>
</dict>
</plist>
